body{
    margin: 0;
    background-color: LightCyan;
}
header{
    background-color: AliceBlue;
    padding: 30px;
    height: 100px;
    width: 100%;
}
header div.b p{
    padding: 30px; 
    font-size:20px;
}
header div.a{
    max-width: 960px;
    margin:auto;
}
header div.a img{
    float:left;
    margin:10px;
    margin-top:20px;
    width:100px;
    height:100px;
}
nav{
    max-width: 960px;
    margin:auto;
    background-color: AliceBlue;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
nav div#c menu{
    padding-left:0;
    margin: 0;
    display: block;
    list-style:none;
}
nav div#c menu li{
    display: inline-block;
    padding: 3px 35px;
}
nav div#c menu li a{
    text-decoration: none;
}
div#content{
    max-width: 960px;
    margin:auto;
    margin-top: 20px;
    background-color:AliceBlue;
    padding: 10px;
}
div#content div.s2{
    margin-top: 20px;
    align-content: center;
}
div#content div.s2 table{
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    display:table;
    width:700px;
    height:300px;
    border: 3px blue;
}
div#content div.s2 table tbody tr th{
    border: 3px solid blue;
}
div#content div.s2 table tbody tr td{
    border: 3px solid blue;
}
div#content div.s2 table tbody tr.nc{
    border: 3px solid blue;
    background-color: LightSteelBlue;
}
div#content div.s2 table tbody tr.ch{
    border: 3px solid blue;
    background-color: DarkTurquoise;
}
div#content div#s3{
    margin-top:20px;
    text-align: center;
}
footer{
    width:100%;
    background-color:LightSteelBlue;
    padding:30px;
    text-align:left;
    margin-top:30px;
}